<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>projet</display-name>
  <welcome-file-list>
    <welcome-file>/Formulaire/Create/createPhoneNumber.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreateContact</display-name>
    <servlet-name>CreateContact</servlet-name>
    <servlet-class>servlet.CreateContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateContact</servlet-name>
    <url-pattern>/CreateContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateContactGroup</display-name>
    <servlet-name>CreateContactGroup</servlet-name>
    <servlet-class>servlet.CreateContactGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateContactGroup</servlet-name>
    <url-pattern>/CreateContactGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreatePhoneNumber</display-name>
    <servlet-name>CreatePhoneNumber</servlet-name>
    <servlet-class>servlet.CreatePhoneNumberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatePhoneNumber</servlet-name>
    <url-pattern>/CreatePhoneNumber</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteContact</display-name>
    <servlet-name>DeleteContact</servlet-name>
    <servlet-class>servlet.DeleteContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteContact</servlet-name>
    <url-pattern>/DeleteContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteContactGroup</display-name>
    <servlet-name>DeleteContactGroup</servlet-name>
    <servlet-class>servlet.DeleteContactGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteContactGroup</servlet-name>
    <url-pattern>/DeleteContactGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePhoneNumber</display-name>
    <servlet-name>DeletePhoneNumber</servlet-name>
    <servlet-class>servlet.DeletePhoneNumberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePhoneNumber</servlet-name>
    <url-pattern>/DeletePhoneNumber</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchAllContact</display-name>
    <servlet-name>SearchAllContact</servlet-name>
    <servlet-class>servlet.SearchAllContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAllContact</servlet-name>
    <url-pattern>/SearchAllContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchAllGroup</display-name>
    <servlet-name>SearchAllGroup</servlet-name>
    <servlet-class>servlet.SearchAllGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAllGroup</servlet-name>
    <url-pattern>/SearchAllGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchAllPhone</display-name>
    <servlet-name>SearchAllPhone</servlet-name>
    <servlet-class>servlet.SearchAllPhoneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAllPhone</servlet-name>
    <url-pattern>/SearchAllPhone</url-pattern>
  </servlet-mapping>
</web-app>